.box {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 30px;
}

.card > img {
  display: block;
  width: 120px;
  height: 200px;
  object-fit: cover;
  transition: all 1s;
}

.trans:hover {
  transform: scale(1.2);
}

.text {
  color: black;
  font-size: 12px;
  margin-top: 30px;
}

.gift {
  background-color: blue;
  border: 1px solid blue;
  color: white;
  margin-top: 20px;
}
